*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
}

.main_nav{
    display: flex;
    height: 110px;
    padding: 0 15px;
}
.main_nav .header_logo{
    min-width: 220px;
    height: 110px;
    padding: 41px 39.5px 31px;
    background: linear-gradient(246.06deg, #CF00FE -19.26%, #005DE0 87.05%);
    transform: translateY(14px);
    border-radius: 10px;
    padding: 36px 39.5px;
}

.header_logo .logo {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    border-radius: 5px;
    vertical-align: middle;
}

.header_contact{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_contact .icon{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #E8E8E9;
    margin-right: 15px;
    animation: pulse 1s infinite linear;
}

.main_nav a{
    text-decoration: none;
}

.header_contact .desc{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 600;
    color: #494A4D;
    font-family: "Roboto Slab", serif;
}

.header_contact .desc span{
    font-size: 18px;
    line-height: 28px;
    color: #1B1D21;
    margin-right: 9px;
}

.header_contact .desc{
    white-space: nowrap;
}

.menu{
    margin: 4px 0 0 60px;
    display: flex;  
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    position: relative;
    align-items: center;
    line-height: 64px;
}

.menu li{
    list-style-type: none;
    margin-right: 40px;
    position: relative;;
    white-space: nowrap;
}
.menu a{
    text-decoration: none;

}
.menu .menu_first_items > a{
    color: #00B0FC;
}

.menu li a{
    font-size: 16px;
    line-height: 1.625;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    color: #1B1D21;
    text-transform: capitalize;
}

.menu_first_items i{
    color: #00B0FC;
}
.menu li i{
    font-size: 12px;
}

.menu .sub_menu{
    display: none;
    position: absolute;
    width: 210px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 10%);
    border-radius: 2px;
}

.menu .sub_menu a{
    display: block;
    padding: 10px 20px;
}

.menu a:hover {
    color: #00B0FC;
}

.menu>li:hover{
    color: #00B0FC;
}

.menu>li:hover .sub_menu{
    display: block;
}

.header_search .show_search i{
    font-size: 18px;
    line-height: 110px;
    padding-left: 12px;
}

.header_button{
    display: flex;
    align-self: center;
    min-width: 200px;
    height: 60px;
    background: linear-gradient(246.06deg, #CF00FE -19.26%, #005DE0 87.05%);
    border-radius: 30px;
    margin-left: 32px;
}

.header_button:hover{
    background: #CF00FE;
}

.header_button .tf_button{
    color: #fff;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0 auto;
}

.main .page_title{
    background: url(../images/bgslider1.jpg);
    background-size: cover;
    padding: 89px 0;
}

.page_title .main_container{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
}

.main_container .page_title_left{
    padding: 50px 30px 0 0;
    max-width: 555px;
}

.page_title_left .sub_title{
    color: #9000FF;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    padding-left: 80px;
    font-weight: 600;
    line-height: 26px;
}

.page_title_left h1{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 20px;
}

.page_title_left .desc_title{
    font-size: 20px;
    line-height: 32px;
    text-transform: capitalize;
    padding-right: 100px;
    margin-bottom: 51px;
    opacity: 1;
}

.view_button{
    display: flex;
    align-self: center;
    width: 200px;
    height: 60px;
    background: linear-gradient(246.06deg, #CF00FE -19.26%, #005DE0 87.05%);
    border-radius: 30px;
    z-index: -1;
    margin-left: 32px;
}

.view_button .services_button{
    color: #fff;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0 auto;
}

.view_button a{
    text-decoration: none;
}

.view_button:hover{
    background: #CF00FE;
}

.slide_show{
    margin-top: 100px;
}

.slide_show .slide{
    font-size: 24px;
    margin-right: 20px;
    color: #CF00FE;
}

.slide_show .slide:hover{
    cursor: pointer;
}

.page_title_right .img_page_title{
    width: 665px;
    height: 640px;
    border: 12px solid #fff;
    position: absolute;
    box-shadow: 0 20px 70px 0 rgb(0 0 0 / 20%);
    border-radius: 5px
}

@media (max-width: 1440px){
    .header_contact{
        display: none;
    }
}

@media (max-width: 991px){
    .page_title_right .img_page_title{
        display: none;
    }
    .main_container .page_title_left{
        min-width: fit-content;
        margin-left: 20px;
    }
    .main .page_title{
        padding: 0;
    }
    .main_nav .header_logo{
        transform: translateY(0);
    }
}
